:root {
  // sidebar
  --layout-sidebar-width: 320px;
  --layout-sidebar-max-width: none;
  --layout-sidebar-top: 0px;
  --layout-sidebar-left: 0px;
  --layout-sidebar-height: 100%;

  --layout-sidebar-width-m: calc(100% - 48px);
  --layout-sidebar-max-width-m: 320px;
  --layout-sidebar-top-m: 0px;
  --layout-sidebar-left-m: calc(var(--layout-sidebar-width-m) * -1);
  --layout-sidebar-height-m: 100%;

  // topbar
  --layout-topbar-width: calc(100% - var(--layout-sidebar-width));
  --layout-topbar-height: 48px;
  --layout-topbar-top: 0px;
  --layout-topbar-left: var(--layout-sidebar-width);

  --layout-topbar-width-m: 100%;
  --layout-topbar-height-m: 48px;
  --layout-topbar-top-m: 0px;
  --layout-topbar-left-m: 0px;

  // contentbar
  --layout-contentbar-width: calc(100% - var(--layout-sidebar-width));
  --layout-contentbar-height: calc(100% - var(--layout-topbar-height));
  --layout-contentbar-top: var(--layout-topbar-height);
  --layout-contentbar-left: var(--layout-sidebar-width);

  --layout-contentbar-width-m: 100%;
  --layout-contentbar-height-m: calc(100% - var(--layout-topbar-height-m));
  --layout-contentbar-top-m: var(--layout-topbar-height-m);
  --layout-contentbar-left-m: 0px;
}
